/* 


*/

body {
    font-family: 'Roboto', sans-serif;
}

header, main {
    max-width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
}

h1,h2 {
    font-family: 'Courgette', cursive;
}

.fa-code {
    font-size: 6rem;
    color:darkorchid;
}

.map iframe {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: block;
}